.example-container {
  width: 1000px;
  height: 1000px;
  border: 1px solid #555;
}



/* Eğer düzen daha büyük bir ekran genişliği içinse, merkezlemek istemiyorsanız aşağıdaki satırı kullanabilirsiniz */
/* .centered-container { margin: 0 auto; max-width: 1200px; } */
