<div style="text-align: center; margin-top: 10vh;" *ngIf="state">
    <form style="width: 50vw; margin:auto;" class="full-width-form">
        <input type="password" class="form-control reset-input" placeholder="Parola" #txtPassword>
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Parola Tekrar" #txtPasswordConfirm>
            <button class="btn forget-password" type="button" (click)="updatePassword(txtPassword.value,txtPasswordConfirm.value)">Şifremi Değiştir</button>
        </div>
    </form>
</div>
<div style="text-align: center; margin-top: 10vh;" *ngIf="!state">
    <form style="width: 50vw; margin:auto;" class="full-width-form">
        <h1>Geçersiz şifre değiştime</h1>
    </form>
</div>

