<!-- <p>sidebar works!</p>
<ul>
  <li><a routerLink="/admin">Dashboard</a></li>
  <li><a routerLink="products">Ürünler</a></li>
  <li><a routerLink="orders">Siparişler</a></li>
  <li><a routerLink="customers">Müşteriler</a></li>
  <li><a routerLink="">Siteye dön</a></li>
</ul> -->

<mat-list>

  <a mat-list-item class="admin-side" routerLink="/admin">Dashboard</a>
  <mat-divider></mat-divider>
  <a mat-list-item class="admin-side" routerLink="products">Ürünler</a>
  <mat-divider></mat-divider>
  <a mat-list-item class="admin-side" routerLink="orders">Siparişler</a>
  <mat-divider></mat-divider>
  <a mat-list-item class="admin-side" routerLink="customers">Müşteriler</a>
  <mat-divider></mat-divider>
  <a mat-list-item class="admin-side" routerLink="users">Kullanıcı Yetkilendirme</a>
  <mat-divider></mat-divider>
  <a mat-list-item class="admin-side" routerLink="authorizemenu">Yetkilendirme işlemleri</a>
  <mat-divider></mat-divider>
  <a mat-list-item class="admin-side" routerLink="roles">Role işlemleri</a>
  <mat-divider></mat-divider>
  <a mat-list-item class="admin-side" routerLink="">Siteye dön</a>

</mat-list>